/*!
 * @package			typography
 * @version			1.0.0
 * @category		css.global
 * @author			Kitsune Solar
 * @copyright		METADATA Foundation
 * ------------------------------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------------------------------ */
/* ----------------------------------------------------< SCRIPT >---------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------ */

/**
 * Article.
 * ------------------------------------------------------------------------------------------------------------------ */

body {
	&.ns-subject {
		&.action-view {
			#mw-content-text {
				//font-family: $font-content;
				//font-size: 1em;
				p {
					text-align: justify;
				}
			}
		}
	}
}

.text-center {
	text-align: center;
}

/**
 * Headers.
 * ------------------------------------------------------------------------------------------------------------------ */

.mw-body {
	h1,
	h2 {
		font-family: $header-font-family;
	}
}

/**
 * PRE and CODE.
 * ------------------------------------------------------------------------------------------------------------------ */

.mw-body {
	pre,
	code {
		font-family: $mono-font-family;
		line-height: 1.6;
	}
	pre {
		overflow: auto;
		white-space: pre;
	}
}

/**
 * Lists.
 * ------------------------------------------------------------------------------------------------------------------ */

.mw-body {
	ul {
		list-style-image: none;
	}
}

/**
 * Tables.
 * ------------------------------------------------------------------------------------------------------------------ */

.mw-body {
	.table-fixed {
		table-layout: fixed;
	}
	.table-fluid {
		width: 100%;
	}
	th {
		font-family: $header-font-family;
	}
}
