/*!
 * @package			variables
 * @version			1.0.0
 * @category		css.global
 * @author			Kitsune Solar
 * @copyright		METADATA Foundation
 * ------------------------------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------------------------------ */
/* ----------------------------------------------------< SCRIPT >---------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------ */

$sans-font-family: 			'Roboto', 'Helvetica', 'Arial', sans-serif;
$serif-font-family:			'Georgia', 'Times New Roman', 'Times', serif;
$mono-font-family: 			'Fira Mono', monospace;

$global-font-family: 		'Roboto', 'Helvetica', 'Arial', sans-serif;
$header-font-family: 		'Roboto Condensed', sans-serif;
$content-font-family: 		$global-font-family;
$content-font-size: 		inherit;
$editor-font-family: 		$mono-font-family;
